<div ng-init="setDays()">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div ng-repeat="day in days track by $index" ng-class=day.cls class="day" ng-click=showEntry(day)>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="entries">
					<div ng-repeat="entry in activeDay track by $index">
						<p class="monthPara">{{entry.comment}}</p>
						<p class="monthPara">{{entry.rating}}</p>
						<p class="monthPara">{{entry.mood}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
