<div class="container text-center ratings">
  <div class="row">
	<div class="col-sm-1 empty">
	</div>
	  <div class="row">
	  	<div class="col-sm-10">
			<h2>How Are You Feeling Right Now?</h2>
		</div>
	  </div>
<!--
	  <div class="row">
		  <div class="col-sm-2">
		  	<i class="fa fa-frown-o"></i>
		  </div>
		  <div class="col-sm-2">
		  	<i class="fa fa-meh-o"></i>
		  </div>
		  <div class="col-sm-2">
		  	<i class="fa fa-smile-o"></i>
		  </div>
	  </div>
-->
	  <div class="col-sm-1 empty">
	  </div>
  </div>
	
  <div class="row">
	  
	<div class="col-sm-1 empty">
	</div>
	  
	<div class="col-sm-10">
	  <div class="row">
		<div class="col-sm-1">
		</div>
		  
		<div class="col-sm-2">
		  <a href="#!/entry-detail" ng-click="setRating(1)">
			<div class="rating" id="rating1">
				<h2 class="ratingNumber">1</h2>
			</div>	
		  </a>
		</div>
		 
		<div class="col-sm-2">
		  <a href="#!/entry-detail" ng-click="setRating(2)">
			<div class="rating" id="rating2">
				<h2 class="ratingNumber">2</h2>
			</div>	
		  </a>
		</div>
		  
		 
		<div class="col-sm-2">
		  <a href="#!/entry-detail" ng-click="setRating(3)">
			<div class="rating" id="rating3">
				<h2 class="ratingNumber">3</h2>
			</div>	
		  </a>
		</div>
		  
		 
		<div class="col-sm-2">
		  <a href="#!/entry-detail" ng-click="setRating(4)">
			<div class="rating" id="rating4">
				<h2 class="ratingNumber">4</h2>
			</div>	
		  </a>
		</div>
		  
		 
		<div class="col-sm-2">
		  <a href="#!/entry-detail" ng-click="setRating(5)">
			<div class="rating" id="rating5">
				<h2 class="ratingNumber">5</h2>
			</div>	
		  </a>
		</div>
		  
		<div class="col-sm-1">
		</div>
		  
	</div>
	<div class="row">

		<div class="col-sm-1">
		</div>
		  
		<div class="col-sm-2">
		  <a href="#!/entry-detail" ng-click="setRating(6)">
			<div class="rating" id="rating5">
				<h2 class="ratingNumber">6</h2>
			</div>	
		  </a>
		</div>
		 
		<div class="col-sm-2">
		  <a href="#!/entry-detail" ng-click="setRating(7)">
			<div class="rating" id="rating7">
				<h2 class="ratingNumber">7</h2>
			</div>	
		  </a>
		</div>
		  
		 
		<div class="col-sm-2">
		  <a href="#!/entry-detail" ng-click="setRating(8)">
			<div class="rating" id="rating8">
				<h2 class="ratingNumber">8</h2>
			</div>	
		  </a>
		</div>
		  
		 
		<div class="col-sm-2">
		  <a href="#!/entry-detail" ng-click="setRating(9)">
			<div class="rating" id="rating9">
				<h2 class="ratingNumber">9</h2>
			</div>	
		  </a>
		</div>
		  
		 
		<div class="col-sm-2">
		  <a href="#!/entry-detail" ng-click="setRating(10)">
			<div class="rating" id="rating10">
				<h2 class="ratingNumber">10</h2>
			</div>	
		  </a>
		</div>
		  
		<div class="col-sm-1">
		</div>
		  
	</div>	
	  
  </div>
</div>
