<div class="container text-center ratings">
			<!--Color Scale Key-->
	<div class="row text-center">
		<div class="col-sm-1 empty"></div>
		<div class="col-sm-10 col-xs-12 color-key card">
			<div class="col-xs-2 col-xs-2">
				<img src="../images/sad.png">
			</div>
			<div class="col-sm-8 col-xs-8 gradient"></div>
			<div class="col-sm-2 col-xs-2">
				<img src="../images/smile.png">
			</div>
		</div>
		<div class="col-sm-1 empty"></div>
	</div>
	
	<div class="row">

		<div class="col-sm-1 empty">
		</div>
		
		<div class="col-sm-10 col-xs-12 rating-selection card">
			<div class="row">
				<h2>How Are You Feeling Right Now?</h2>
			</div>
			
<!--			<div class="row">-->

				<div class="col-sm-1 empty"></div>
			
				<div class="col-sm-10 col-xs-12">
<!--					<div class="col-sm-1"></div>-->
			
					<div class="col-sm-2 col-sm-offset-1 col-xs-6">
						<a href="#!/entry-detail" ng-click="setRating(1)">
							<div class="rating one">
								<h2 class="text-center ratingNumber">1</h2>
							</div>	
						</a>
					</div>

					<div class="col-sm-2 col-xs-6">
						<a href="#!/entry-detail" ng-click="setRating(2)">
							<div class="rating two">
								<h2 class="text-center ratingNumber">2</h2>
							</div>	
						</a>
					</div>


					<div class="col-sm-2 col-xs-6">
						<a href="#!/entry-detail" ng-click="setRating(3)">
							<div class="rating three">
								<h2 class="text-center ratingNumber">3</h2>
							</div>	
						</a>
					</div>


					<div class="col-sm-2 col-xs-6">
						<a href="#!/entry-detail" ng-click="setRating(4)">
							<div class="rating four">
								<h2 class="text-center ratingNumber">4</h2>
							</div>	
						</a>
					</div>


					<div class="col-sm-2 col-xs-6">
						<a href="#!/entry-detail" ng-click="setRating(5)">
							<div class="rating five">
								<h2 class="text-center ratingNumber">5</h2>
							</div>	
						</a>
					</div>
					
					<div class="col-sm-1"></div>
					
					<div class="col-sm-1"></div>

					<div class="col-sm-2 col-sm-offset-1 col-xs-6">
						<a href="#!/entry-detail" ng-click="setRating(6)">
							<div class="rating six">
								<h2 class="text-center ratingNumber">6</h2>
							</div>	
						</a>
					</div>

					<div class="col-sm-2 col-xs-6">
						<a href="#!/entry-detail" ng-click="setRating(7)">
							<div class="rating seven">
								<h2 class="text-center ratingNumber">7</h2>
							</div>	
						</a>
					</div>


					<div class="col-sm-2 col-xs-6">
						<a href="#!/entry-detail" ng-click="setRating(8)">
							<div class="rating eight">
								<h2 class="text-center ratingNumber">8</h2>
							</div>	
						</a>
					</div>


					<div class="col-sm-2 col-xs-6">
						<a href="#!/entry-detail" ng-click="setRating(9)">
							<div class="rating nine">
								<h2 class="text-center ratingNumber">9</h2>
							</div>	
						</a>
					</div>


					<div class="col-sm-2 col-xs-6">
						<a href="#!/entry-detail" ng-click="setRating(10)">
							<div class="rating ten">
								<h2 class="text-center ratingNumber">10</h2>
							</div>	
						</a>
					</div>
					
					<div class="col-sm-1"></div>
			
				</div>
			
				<div class="col-sm-1 empty"></div>

<!--			</div>	-->
		</div>
	</div>
	
</div>
