<div class="container text-center ratings" ng-controller="ratingController">
  <div class="row">
	<div class="col-sm-1 empty">
	</div>
	<a href="#!/entry-detail" ng-click="setRating(1)">
		<div class="col-sm-2 rating">
			<h2>1</h2>
		</div>
	</a>
	<a href="#!/entry-detail" ng-click="setRating(2)">
		<div class="col-sm-2 rating">
			<h2>2</h2>
		</div>
	</a>
	<a href="#!/entry-detail" ng-click="setRating(3)">
		<div class="col-sm-2 rating">
			<h2>3</h2>
		</div>
	</a>
	<a href="#!/entry-detail" ng-click="setRating(4)">
		<div class="col-sm-2 rating">
			<h2>4</h2>
		</div>
	</a>
	<a href="#!/entry-detail" ng-click="setRating(5)">
		<div class="col-sm-2 rating">
			<h2>5</h2>
		</div>
	</a>
	<div class="col-sm-1 empty">
	</div>
  </div>
  <div class="row">
	<div class="col-sm-1 empty">
	</div>
	<a href="#!/entry-detail" ng-click="setRating(6)">
		<div class="col-sm-2 rating">
			<h2 ng-model="entry.rating">6</h2>
		</div>
	</a>
	<a href="#!/entry-detail" ng-click="setRating(7)">
		<div class="col-sm-2 rating">
			<h2>7</h2>
		</div>
	</a>
	<a href="#!/entry-detail" ng-click="setRating(8)">
		<div class="col-sm-2 rating">
			<h2>8</h2>
		</div>
	</a>
	<a href="#!/entry-detail" ng-click="setRating(9)">
		<div class="col-sm-2 rating">
			<h2>9</h2>
		</div>
	</a>
	<a href="#!/entry-detail" ng-click="setRating(10)">
		<div class="col-sm-2 rating">
			<h2>10</h2>
		</div>
	</a>
    <div class="col-sm-1 empty">
	</div>
  </div>
</div>

