<div class="container entry-detail" ng-controller="entryController">
  <div class="row">
	<div class="col-sm-1 empty">
	</div>
	<div class="col-sm-4 text-center rating">
		<h2>{{ rating }}</h2>
	</div>
	<div class="col-sm-6 mood">
		<h3>Mood:</h3>
		<div class="col-sm-6 mood-column">
			<label class="checkbox"><input type="checkbox" value="anxious" ng-model="mood.anxious">Anixous</label>
			<label class="checkbox"><input type="checkbox" value="angry" ng-model="mood.angry">Angry</label>
			<label class="checkbox"><input type="checkbox" value="content" ng-model="mood.content">Content</label>
			<label class="checkbox"><input type="checkbox" value="calm" ng-model="mood.calm">Calm</label>
			<label class="checkbox"><input type="checkbox" value="depressed" ng-model="mood.depressed">Depressed</label>
			<label class="checkbox"><input type="checkbox" value="excited" ng-model="mood.excited">Excited</label>
		</div>
		<div class="col-sm-6 mood-column">
			<label class="checkbox"><input type="checkbox" value="grateful" ng-model="mood.grateful">Grateful</label>
			<label class="checkbox"><input type="checkbox" value="hopeful" ng-model="mood.hopeful">Hopeful</label>
			<label class="checkbox"><input type="checkbox" value="indifferent" ng-model="mood.indifferent">Indifferent</label>
			<label class="checkbox"><input type="checkbox" value="lonely" ng-model="mood.lonely">Lonely</label>
			<label class="checkbox"><input type="checkbox" value="pessimistic" ng-model="mood.pessimistic">Pessimistic</label>
			<label class="checkbox"><input type="checkbox" value="restless" ng-model="mood.restless">Restless</label>
		</div>
	</div>
	<div class="col-sm-1 empty">
	</div>
  </div>
  <div class="row">
	<div class="col-sm-1 empty">
	</div>
	<div class="col-sm-10 form-group">
		<label for="comment">Comment:</label>
		<textarea class="form-control" rows="5" id="comment" ng-model="comment"></textarea>
	</div>
	<div class="col-sm-1 empty">
	</div>
  </div>
  <div class="row">
	<div class="col-sm-8 empty">
	</div>
	<div class="col-sm-2">
	  <button type="submit" class="btn" ng-click="setEntry(comment, mood)">Submit</button>	  
	</div>
	<div class="col-sm-2 empty">
	</div>
  </div>
</div>

