body {
	background-color: #272824;
	color: white;
}

/*RATINGS PAGE*/

#rating1 {
	background-color: #1A162A;
}

#rating2 {
	background-color: #313658;
}

#rating3 {
	background-color: #475b77;
}

#rating4 {
	background-color: #50707F;
}

#rating5 {
	background-color: #5f8596;
}

#rating6 {
	background-color: #79b4b5;
	color: black;
}

#rating7{
	background-color: #5CA9AA;
	color: black;
}

#rating8 {
	background-color: #73CDD1;
	color: black;
}

#rating9 {
	background-color: #80E9ED;
	color: black;
}

#rating10 {
	background-color: #49E7ED;
	color: black;
}

/*ENTRY DETAIL PAGE*/
#rating-detail {
	color: #272824;
}

.mood {
	display: inline-block;
	padding: 1%;
}

#moodOptions .mood-checkbox + .mood-label {
	font-weight: normal;
}

#moodOptions input[type=checkbox]:checked + label {
	font-weight: bold;
}

input[type=checkbox] {
	display: none;
}

#startOverButton {
  color: inherit;
}

/*CALENDER STYLING*/

.day {
	border: 1px solid #BEBEBD;
	width: 14%;
	height: 50px;
	border-radius: 10px;
	display: inline-block;
}

.day-average {
	margin-top: 25%;
}

.day.one {
	background-color: #1A162A;
}

.day.two {
	background-color: #313658;
}

.day.three {
	background-color: #475b77;
}

.day.four {
	background-color: #50707F;
}

.day.five {
	background-color: #5f8596;
}

.day.six {
	background-color: #79b4b5;
	color: black;
}

.day.seven {
	background-color: #5CA9AA;
	color: black;
}

.day.eight {
	background-color: #73CDD1;
	color: black;
}

.day.nine {
	background-color: #80E9ED;
	color: black;
}

.day.ten {
	background-color: #49E7ED;
	color: black;
}

.day.none {
	background-color: black;
}

.entries {
	border: 2px solid #BEBEBD;
	height: 250px;
	overflow: scroll;
	color: black;
/*
	font-family: 'Josefin Slab', serif;
  	font-size: 24px;
*/
}

/*END OF CALENDER STYLING*/

.rating {
  background-color: #99ff33;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  border: solid 2px black;
  margin: 10px auto;
  padding: 50px;
  position: relative;
}

.ratingNumber {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -18px;
  margin-top: -18px;
  font-family: 'Fredericka the Great', cursive;
  color: black !important;
  font-size: 42px;
}


#headerImage {
  background-image: url('images/headerImage.jpg');
  background-position: right top;
  /*background-attachment: fixed;*/
  background-size: cover;
}

#containerImage {
  background-image: url('images/headerImageNav.jpg');
  background-position: top left;
  /*background-attachment: fixed;*/
  background-size: cover;
}

.viewLink {
  border: solid black 2px;
  margin: 3px;
  background-color: rgba(255,255,255, 0.3);
  color: inherit;
  border-radius: 10px;
  max-width: 115px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 16px;
  box-shadow: 2px 2px 2px black;
}

.navbar-brand {
  color: black !important;
  font-family: 'Fredericka the Great', cursive;
  font-size: 24px !important;
  text-align: center;
  padding-left: 37%;

}

ul li a {
  color: black !important;
}

.progressTitle {
  font-family: 'Fredericka the Great', cursive;
  font-size: 75px !important;
  color: black !important;

}

.col-sm {
  float: none;
  margin: 0 auto;
}


.circleDiv {
  padding-left: 100px;
}

#circleOne  {
  background-color: #d9ffb3;

}

/*.indexBody {
  border: double black 10px;
}*/
/*
div.row {
  background-image: url('images/headerImageNav.jpg');
}*/

.splashImg {
  background-image: url('images/progressSplash.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.splashHeader {
  font-family: 'Fredericka the Great', cursive;
  font-size: 500%;
  text-align: center;
  margin-top: -10px;
}

.splashInfo {
  font-family: 'Josefin Slab', serif;
  font-size: 28px;
  text-align: center;
  background-color: rgba(255,255,255, 0.6);
  margin: 50px;
  /*margin-top*/
}

.progressTeam {
  font-family: 'Fredericka the Great', cursive;
}

.getStarted {
  border-radius: 4px;
  border: solid black 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 300px;
  background-image: url('images/headerImageNav.jpg');
  color: black !important;
  font-size: 28px;
  text-decoration: none;
  font-family: 'Fredericka the Great', cursive;
  letter-spacing: 2px;
}

.btn-block {
	  border-radius: 6px;
	  border: solid black 2px;
	  padding-left: 20px;
	  padding-right: 20px;
	  padding-top: 0px;
	  padding-bottom: 0px;
	  max-width: 400px;
	  background-image: url('images/headerImageNav.jpg');
	  color: black !important;
	  font-size: 28px;
	  text-decoration: none;
	  font-family: 'Fredericka the Great', cursive;
	  letter-spacing: 2px;
	}
