body {
	min-height: 100%;
	font-size: 18px;
}

#content {
	/* makes fotter sticky	*/
	min-height: calc(100vh - 100px);
}

.navbar {
	background-color: #0FD6CF;
}

navbar-brand {
	color: 
}

.navbar li {
	color: #BEBEBD;
}

/*RATING COLOR SCALE*/

.one {
	background-color: #113C48;
}

.two {
	background-color: #1A5D70;
}

.three {
	background-color: #007772;	
}

.four {
	background-color: #00AAA3;
}

.five {
	background-color: #0FD6CF;
}

.six {
	background-color: #0CE889;
}

.seven {
	background-color: #00FF2D;
}

.eight {
	background-color: #3BFF00;
}

.nine {
	background-color: #C2FF0B;
}

.ten {
	background-color: #FFE100;
}

.none {
	background-color: transparent;
}


/*FOOTER*/

.foot {
	background-color: #2f302c;
	color: #BEBEBD;
	height: 100px;
}

.foot a {
	text-decoration: none;
	color: #BEBEBD;
}

.progressTeam {
  font-family: 'Fredericka the Great', sans-serif;
}

/*SPLASH PAGE*/

.splashHeader {
  font-family: 'Fredericka the Great', sans-serif;
  font-size: 500%;
  text-align: center;
  margin-top: -10px;
}

.splashInfo {
  text-align: center;
  background-color: rgba(255,255,255, 0.6);
  margin: 50px;
  margin-top
}


/*RATINGS PAGE*/

.rating {
  width: 10%;
  height: 10%;
  border-radius: 15%;
  border: solid 2px #BEBEBD;
  margin: auto;
  padding: 50px;
  position: relative;
}

.ratingNumber {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -18px;
  margin-top: -18px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #BEBEBD;
  font-size: 42px;
}

/*ENTRY DETAIL PAGE*/
#rating-detail {
	color: #272824;
}

.moods {
	display: inline-block;
	font-variant: small-caps;
	padding: 1%;
}

#moodOptions .mood-checkbox + .mood-label {
	font-weight: normal;
}

.mood label:hover {
	color:  #0CE889;
}

#moodOptions input[type=checkbox]:checked + label {
	font-weight: bold;
	color: #0CE889;
}

input[type=checkbox] {
	display: none;
}

/*OVERVIEW STYLING*/

.day {
	border: 1px solid #BEBEBD;
	width: 14%;
	height: 50px;
	border-radius: 10px;
	display: inline-block;
}

.day-average {
	margin-top: 15%;
}

.entries {
	border: 2px solid #BEBEBD;
	max-height: 300px;
	overflow: scroll;
	color: black;
}


