

body {
	min-height: 100%;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
}

#content {
	/* makes fotter sticky	*/
	min-height: calc(100vh - 100px);
}
/*
.progress {
	font-family: 'Fredericka the Great', serif;
}*/

.logo{
	font-family: 'Fredericka the Great', serif;
}

.foot {
	text-align: center;
	background-color: #2f302c;
	border: solid gray 2px;
	height: 100px;
}

/*
.card {
	border: solid 2px black;
	padding: 2%;
}
*/
/*NAVIGATION*/



/*RATING COLOR SCALE*/

.one {
	background-color: #113C48;
}

.two {
	background-color: #1A5D70;
}

.three {
	background-color: #007772;
}

.four {
	background-color: #00AAA3;
}

.five {
	background-color: #0FD6CF;
}

.six {
	background-color: #0CE889;
}

.seven {
	background-color: #00FF2D;
}

.eight {
	background-color: #3BFF00;
}

.nine {
	background-color: #C2FF0B;
}

.ten {
	background-color: #FFE100;
}

.none {
	background-color: transparent;
}


/*FOOTER*/

.foot {
	background-color: #2f302c;
	color: #BEBEBD;
	height: 100px;
}

.foot a {
	text-decoration: none;
	color: #BEBEBD;
}

/*SPLASH PAGE*/

.splashHeader {
  font-family: 'Fredericka the Great', sans-serif;
  font-size: 500%;
  text-align: center;
  margin-top: -10px;
}

.splashInfo {
  text-align: center;
  background-color: rgba(255,255,255, 0.6);
/*  background-image: url(images/progressSplash.jpg);*/
  margin: 50px;
  margin-top
}


/*RATINGS PAGE*/

.rating {
  width: 10%;
  height: 10%;
  border-radius: 15%;
  border: solid 2px #BEBEBD;
  margin: 10% auto;
  padding: 50px;
  position: relative;
  box-shadow: 10px 10px 5px grey;
}

.rating:hover {
  box-shadow: none;
  transition: 1s;
}

.ratingNumber {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -18px;
  margin-top: -18px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #BEBEBD;
  font-size: 42px;
}

/*ENTRY DETAIL PAGE*/
.entry-detail .rating {
	box-shadow: none;
}

.moods {
	display: inline-block;
	font-variant: small-caps;
	padding: 1%;
}

#moodOptions .mood-checkbox + .mood-label {
	font-weight: normal;
}

.mood label:hover {
	color:  #0CE889;
}

#moodOptions input[type=checkbox]:checked + label {
	font-weight: bold;
	color: #0CE889;
}

input[type=checkbox] {
	display: none;
}

/*OVERVIEW STYLING*/

.day {
	color: white;
	font-size: 16px;
	border: 1px solid #BEBEBD;
	width: 14%;
	height: 50px;
	border-radius: 10px;
	display: inline-block;
	margin: 1%;
    box-shadow: 5px 5px 2px grey;
}

.day:hover {
    box-shadow: none;
	transition: 1s;
}

.day p {
	padding-top: 20%;
}

.day .day-average {
	display: none;
}

.day:hover .day-average {
	display: inline-block;
	padding-top: 20%;
}

.day:hover .day-date {
	display: none;
	transition: 1s;
}

.entries {
	border: 2px solid #BEBEBD;
	max-height: 500px;
	overflow: scroll;
	color: black;
	margin: 2%;
    box-shadow: 5px 5px 2px grey;
}

.entry {
	border: 2px solid #BEBEBD;
	margin: 2%;
}
